src/flows/AccountQuery-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Can_t_find_Account</name>
        <label>Can&apos;t find Account</label>
        <locationX>63</locationX>
        <locationY>178</locationY>
        <assignmentItems>
            <assignToReference>Alexa_Tell</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sorry I can&apos;t find an account called {!Alexa_Slot_Name}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Create_Message</name>
        <label>Create Account Summary Message</label>
        <locationX>251</locationX>
        <locationY>177</locationY>
        <assignmentItems>
            <assignToReference>Alexa_Tell</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Alexa_Slot_Account} has</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alexa_Tell</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!OpenOpps} open opportunities,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alexa_Tell</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!OpenCases} open cases,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alexa_Tell</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!OpenProjects} projects in progress and an outstanding balance of,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alexa_Tell</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OustandingBalance</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>AccountQuery {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AccountQuery</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Account</name>
        <label>Lookup Account</label>
        <locationX>149</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Can_t_find_Account</targetReference>
        </faultConnector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Alexa_Slot_Account</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>OpenCases</assignToReference>
            <field>OpenCases__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpenOpps</assignToReference>
            <field>OpenOpportunities__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpenProjects</assignToReference>
            <field>Open_Projects__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OustandingBalance</assignToReference>
            <field>Outstanding_Balance__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UnpaidInvoices</assignToReference>
            <field>Unpaid_Invoices__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Lookup_Account</startElementReference>
    <variables>
        <name>Alexa_Slot_Account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Alexa_Slot_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Alexa_Tell</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpenCases</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OpenOpps</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OpenProjects</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OustandingBalance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UnpaidInvoices</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
