src/flows/AddProjectChatter-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Comment_on_Project</name>
        <label>Post Comment on Project</label>
        <locationX>495</locationX>
        <locationY>409</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Confirm_Comment_Added</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>ProjectID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Alexa_Slot_Comment</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FeedId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>AskForComment</name>
        <label>AskForComment</label>
        <locationX>152</locationX>
        <locationY>293</locationY>
        <assignmentItems>
            <assignToReference>Alexa_Ask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>what is the chatter comment you wish to add?</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AskForProject</name>
        <label>AskForProject</label>
        <locationX>26</locationX>
        <locationY>173</locationY>
        <assignmentItems>
            <assignToReference>Alexa_Ask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>tell me the project name for your comment</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Confirm_Comment_Added</name>
        <label>Confirm Comment Added</label>
        <locationX>613</locationX>
        <locationY>520</locationY>
        <assignmentItems>
            <assignToReference>Alexa_Tell</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Your chatter comment has been added to the,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alexa_Tell</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!FullProjectName} project</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Project_Not_Found</name>
        <label>Project Not Found</label>
        <locationX>275</locationX>
        <locationY>415</locationY>
        <assignmentItems>
            <assignToReference>Alexa_Tell</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sorry I can&apos;t find a project with that name</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Has_Comment_Spoken</name>
        <label>Has Comment Spoken</label>
        <locationX>250</locationX>
        <locationY>172</locationY>
        <defaultConnector>
            <targetReference>AskForComment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ask for Comment</defaultConnectorLabel>
        <rules>
            <name>Create_Comment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alexa_Slot_Comment</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Find_the_Project</targetReference>
            </connector>
            <label>Add Comment to Chatter</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasProjectName</name>
        <label>HasProjectName</label>
        <locationX>139</locationX>
        <locationY>20</locationY>
        <defaultConnector>
            <targetReference>AskForProject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ask for Project</defaultConnectorLabel>
        <rules>
            <name>ProjectNameSpoken</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alexa_Slot_Project</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Has_Comment_Spoken</targetReference>
            </connector>
            <label>ProjectNameSpoken</label>
        </rules>
    </decisions>
    <interviewLabel>AddProjectChatter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AddProjectChatter</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_the_Project</name>
        <label>Find the Project</label>
        <locationX>397</locationX>
        <locationY>303</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Post_Comment_on_Project</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Project_Not_Found</targetReference>
        </faultConnector>
        <filters>
            <field>Project_Name__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Alexa_Slot_Project</elementReference>
            </value>
        </filters>
        <object>Work_Order__c</object>
        <outputAssignments>
            <assignToReference>ProjectID.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FullProjectName</assignToReference>
            <field>Project_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>HasProjectName</startElementReference>
    <variables>
        <name>Alexa_Ask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Alexa_Slot_Comment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Alexa_Slot_Project</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Alexa_Tell</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FeedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FullProjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Order__c</objectType>
    </variables>
</Flow>
