src/flows/CreateLead-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AskCompanyName</name>
        <label>AskCompanyName</label>
        <locationX>130</locationX>
        <locationY>305</locationY>
        <assignmentItems>
            <assignToReference>Alexa_Ask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tell me the Company Name for your new Lead?</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AskForLeadName</name>
        <label>AskForLeadName</label>
        <locationX>26</locationX>
        <locationY>173</locationY>
        <assignmentItems>
            <assignToReference>Alexa_Ask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tell me the first and last name of your Lead?</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SayLeadCreated</name>
        <label>SayLeadCreated</label>
        <locationX>400</locationX>
        <locationY>411</locationY>
        <assignmentItems>
            <assignToReference>Alexa_Say</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You Lead has now been created.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>HasCompanyName</name>
        <label>HasCompanyName</label>
        <locationX>272</locationX>
        <locationY>174</locationY>
        <defaultConnector>
            <targetReference>AskCompanyName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CompanyNameSpoken</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alexa_Slot_CompanyName</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CreateLead</targetReference>
            </connector>
            <label>CompanyNameSpoken</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasLeadName</name>
        <label>HasLeadName</label>
        <locationX>139</locationX>
        <locationY>20</locationY>
        <defaultConnector>
            <targetReference>AskForLeadName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>LeadNameSpoken</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alexa_Slot_LeadName</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>HasCompanyName</targetReference>
            </connector>
            <label>LeadNameSpoken</label>
        </rules>
    </decisions>
    <formulas>
        <name>FirstName</name>
        <dataType>String</dataType>
        <expression>LEFT({!Alexa_Slot_LeadName}, FIND(&quot; &quot;, {!Alexa_Slot_LeadName}))</expression>
    </formulas>
    <formulas>
        <name>LastName</name>
        <dataType>String</dataType>
        <expression>MID({!Alexa_Slot_LeadName}, FIND(&apos; &apos;, {!Alexa_Slot_LeadName}), 100)</expression>
    </formulas>
    <interviewLabel>CreateLead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateLead</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateLead</name>
        <label>CreateLead</label>
        <locationX>403</locationX>
        <locationY>313</locationY>
        <connector>
            <targetReference>SayLeadCreated</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Alexa_Slot_CompanyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <startElementReference>HasLeadName</startElementReference>
    <variables>
        <name>Alexa_Ask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Alexa_Say</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Alexa_Slot_CompanyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Alexa_Slot_LeadName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
