src/flows/NewsSummary-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Create_News_Summary_Message</name>
        <label>Create News Summary Message</label>
        <locationX>216</locationX>
        <locationY>508</locationY>
        <assignmentItems>
            <assignToReference>Alexa_Tell</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Here is the FinancialForce news for {!$Flow.CurrentDate} ,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alexa_Tell</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>First , in sales we currently have {!Sales_Opps_In_Progress} active opportunities and have closed {!SalesOppsClosed} deals this month, {!SalesHeadline},</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alexa_Tell</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>The support team currently have {!OpenCases} open cases of which {!EscalatedCases} have been escalated, {!SupportHeadline},</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alexa_Tell</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Our consulting team have {!Total_Projects} projects currently in flight, {!RedProjects} of those projects have a red status, {!ProjectsHeadline},</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alexa_Tell</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Finally, in Finance our billings for this month are currently at {!TotalBilled}, {!BillingHeadline} .</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>BillingNewsType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BILLING</stringValue>
        </value>
    </constants>
    <constants>
        <name>Projects_News_Type</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PROJECTS</stringValue>
        </value>
    </constants>
    <constants>
        <name>SalesNewsType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SALES</stringValue>
        </value>
    </constants>
    <constants>
        <name>ServiceNewsType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SERVICE</stringValue>
        </value>
    </constants>
    <description>Build news summary from snapshot data in Alexa News object</description>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>News Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>News Summary</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Billing_News_Record</name>
        <label>Find Billing News Record</label>
        <locationX>221</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_News_Summary_Message</targetReference>
        </connector>
        <filters>
            <field>News_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BillingNewsType</elementReference>
            </value>
        </filters>
        <object>Alexa_News_Snapshot__c</object>
        <outputAssignments>
            <assignToReference>BillingHeadline</assignToReference>
            <field>News_Headline__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TotalBilled</assignToReference>
            <field>Total_Billed__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Project_News_Record</name>
        <label>Find Project News Record</label>
        <locationX>219</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Billing_News_Record</targetReference>
        </connector>
        <filters>
            <field>News_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Projects_News_Type</elementReference>
            </value>
        </filters>
        <object>Alexa_News_Snapshot__c</object>
        <outputAssignments>
            <assignToReference>ProjectsHeadline</assignToReference>
            <field>News_Headline__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RedProjects</assignToReference>
            <field>Red_Projects__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Total_Projects</assignToReference>
            <field>Total_Projects__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Support_News_Record</name>
        <label>Find Support News Record</label>
        <locationX>218</locationX>
        <locationY>167</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Project_News_Record</targetReference>
        </connector>
        <filters>
            <field>News_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceNewsType</elementReference>
            </value>
        </filters>
        <object>Alexa_News_Snapshot__c</object>
        <outputAssignments>
            <assignToReference>EscalatedCases</assignToReference>
            <field>Escalated_Cases__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SupportHeadline</assignToReference>
            <field>News_Headline__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpenCases</assignToReference>
            <field>Total_Cases__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>sales_news_record_lookup</name>
        <label>Find Sales News Record</label>
        <locationX>217</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Support_News_Record</targetReference>
        </connector>
        <filters>
            <field>News_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesNewsType</elementReference>
            </value>
        </filters>
        <object>Alexa_News_Snapshot__c</object>
        <outputAssignments>
            <assignToReference>SalesOppsClosed</assignToReference>
            <field>Closed_Opps__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SalesHeadline</assignToReference>
            <field>News_Headline__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Sales_Opps_In_Progress</assignToReference>
            <field>Total_Opps__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>sales_news_record_lookup</startElementReference>
    <variables>
        <name>Alexa_Tell</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BillingHeadline</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EscalatedCases</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OpenCases</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ProjectsHeadline</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RedProjects</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Sales_Opps_In_Progress</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SalesHeadline</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesOppsClosed</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SupportHeadline</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Total_Projects</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TotalBilled</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
