src/flows/WhoAmI-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Create_User_Summary_Message</name>
        <label>Create User Summary Message</label>
        <locationX>219</locationX>
        <locationY>293</locationY>
        <assignmentItems>
            <assignToReference>Alexa_Tell</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Your name is {!FirstName}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alexa_Tell</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!LastName},</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alexa_Tell</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>your employee number is {!EmployeeNo},</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alexa_Tell</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>and you currently work as a {!Title}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alexa_Tell</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>in the {!Department} department at {!Company},</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alexa_Tell</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>your manager is {!ManagerFirstName} {!ManagerLastName}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>WhoAmI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WhoAmI</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Manager</name>
        <label>Find Manager</label>
        <locationX>218</locationX>
        <locationY>167</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_User_Summary_Message</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ManagerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>ManagerFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ManagerLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>User_record_lookup</name>
        <label>Find Current User Record</label>
        <locationX>217</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Manager</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Company</assignToReference>
            <field>CompanyName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Department</assignToReference>
            <field>Department</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EmployeeNo</assignToReference>
            <field>EmployeeNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ManagerId</assignToReference>
            <field>ManagerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Title</assignToReference>
            <field>Title</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>User_record_lookup</startElementReference>
    <variables>
        <name>Alexa_Tell</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Company</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Department</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmployeeNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ManagerFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ManagerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ManagerLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
